[submodule "components/sqlite3"]
	path = components/sqlite3
	url = https://github.com/siara-cc/esp32-idf-sqlite3.git
[submodule "components/littlefs"]
	path = components/littlefs
	url = https://github.com/joltwallet/esp_littlefs.git
